.root-div {
    /*margin: 20px;*/
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
    background-color: cornflowerblue;
}
.home-top {
    /*background-color: cornflowerblue;*/
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 8px;
    width: 100%;
}



.nav-buttons-row {
    width: 100%;
}


.btn-working-group {
    display: inline-block;
    background-color: cornflowerblue;
}
.img-working-group {
    /*width: 150px;*/
    /*height: 100px;*/
    width: 95%;
    height: auto;
    display: inline-block;
}





.data-text {
    margin-left: 20px;
    padding: 20px;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


.btn-metric {

}
.img-metric {
    /*width: 150px;*/
    /*height: 85px;*/
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}
.btn-economic-opportunities {
    /*currently using screenshot img of buttons*/
    /*can customize buttons later*/
}
.btn-education {
    /*currently using screenshot img of buttons*/
    /*can customize buttons later*/
}
.btn-public-safety {
    /*currently using screenshot img of buttons*/
    /*can customize buttons later*/
}
.btn-neighborhood {
    /*currently using screenshot img of buttons*/
    /*can customize buttons later*/
}
.btn-goal {

}


.maps {
    border: 1px solid black;
    width: 95%;
    height: 500px;
    margin: 20px;
}